<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pnumolert</title>
        <link rel="icon" href="/img/logo1.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"> 
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" >
                    <img src="/img/logo2.png" alt="PneumoLert" width="200" height="60">
                </a>
                <ul class="nav nav-pills justify-content-center">
                    <li class="nav-item">
                        <a href="/" class="nav-link" aria-current="page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/help" class="nav-link active">Help</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="/precaution" class="nav-link">Cough Precautions</a>
                    </li>
                </ul>
            </header>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="display-3 ">How to use PneumoLert</p>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="fs-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#0080ff" class="bi bi-chevron-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        On the home page there is a form for patient details and Chest X-Ray. Specify first name , last name , Gender and age which you want on the report.
                    </p>
                    <p class="fs-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#0080ff" class="bi bi-chevron-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        Do not fill in any wrong or fake information as this information will be used to generate report.
                    <p class="fs-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#0080ff" class="bi bi-chevron-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        If you want report on your email ID then select 'Want report on email' field to 'Yes'.
                    <p class="fs-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#0080ff" class="bi bi-chevron-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        If you have selected 'NO' then there is no need to enter your email ID, but if you have selected 'Yes' then enter the correct email ID
                    <p class="fs-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#0080ff" class="bi bi-chevron-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        Generally to receive a report in email takes 10 to 20 seconds after submitting the form. After submitting form you will be directed to the result page.
                    <p class="fs-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#0080ff" class="bi bi-chevron-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        On result page you will see your Chest-Xray and prediction result. Below the prediction there will be report.
                    <p class="fs-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#0080ff" class="bi bi-chevron-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        You can check, download or print your report from the same result page.
                    <p class="fs-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#0080ff" class="bi bi-chevron-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        If your prediction result is not normal then kindely visit your nearby hospital as soon as possible. If your prediction result is normal you still have cough so visit your nearby clinik and also check our 'Cough Precautions' page.
                    <p class="fs-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#0080ff" class="bi bi-chevron-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        If you want to know more about how PneumoLert works you can check 'About' page from nevigation bar.
                </div>
            </div>
        </div>
    </body>
</html>
