<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Pnumolert</title>
    <link rel="icon" href="/img/logo1.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>

<body>
    
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"> 
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" >
                <img src="/img/logo2.png" alt="PneumoLert" width="200" height="60">
            </a>
            <ul class="nav nav-pills justify-content-center">
                <li class="nav-item">
                    <a href="/" class="nav-link" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/help" class="nav-link">Help</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="/precaution" class="nav-link active">Cough Precautions</a>
                </li>
            </ul>
        </header>
    </div>
    <br>
    <div class="container">
        <div class="col row">
            <p class="display-3">Precautions To Take For Normal Cough</p>
        </div> <br>
        <div class="col row">
            <h5 class="lh-base">Coughs play a role in clearing irritants and infections from the body, but persistent coughing can be annoying. The best treatment for a cough will depend on its underlying cause.
                There are many possible causes of coughs, including allergies, infections, and acid reflux. If a cough is severe or persists for more than a few weeks, it is essential to seek medical advice.
            </h5>
        </div> <br>
        <div class="col row">
            <p class="fs-3 fw-bold">Eight Natural Cough Remedies</p>
        </div>
        <div class="col row">
            <h5 class="lh-base">
                People use a range of natural remedies to try to treat a persistent cough. Here, we look at 12 of these remedies in more detail.
            </h5>
        </div> <br>
        <div class="col row">
            <p class="fs-4 fw-bold">1. Honey Tea</p>
        </div>
        <div class="col row">
            <h5 class="lh-base">
                To use honey to treat a cough, mix 2 teaspoons (tsp) with warm water or an herbal tea. Drink this mixture once or twice a day. Do not give honey to children under 1 yearTrusted Source of age.
            </h5>
        </div> <br>
        <div class="col row">
            <p class="fs-4 fw-bold">2. Ginger</p>
        </div>
        <div class="col row">
            <h5 class="lh-base">
                Brew up a soothing ginger tea by adding 20–40 grams (g) of fresh ginger slices to a cup of hot water. Allow to steep for a few minutes before drinking. Add honey or lemon juice to improve the taste and further soothe a cough.
            </h5>
        </div> <br>
        <div class="col row">
            <p class="fs-4 fw-bold">3. Fluids</p>
        </div>
        <div class="col row">
            <h5 class="lh-base">
                Staying hydrated is vital for those with a cough or cold. 
                People with additional symptoms of a cold or flu may benefit from warming up their beverages.
                Hot beverages that may be comforting include clear broths, herbal teas, warm water, warm fruit juices.
            </h5>
        </div> <br>
        <div class="col row">
            <p class="fs-4 fw-bold">4. Steam</p>
        </div>
        <div class="col row">
            <h5 class="lh-base">
                A wet cough, which is one that produces mucus or phlegm, may improve with steam. Take a hot shower or bath and allow the bathroom to fill with steam. Stay in this steam for a few minutes until symptoms subside. Drink a glass of water afterward to cool down and prevent dehydration.
                Alternatively, make a steam bowl. To do this, fill a large bowl with hot water. Add herbs or essential oils, such as eucalyptus or rosemary, which may also relieve decongestion. Lean over the bowl and place a towel over the head. This traps the steam. Inhale the vapors for 5 minutes. If the steam feels hot on the skin, discontinue until the skin cools down.
            </h5>
        </div> <br>
        <div class="col row">
            <p class="fs-4 fw-bold">5. Marshmallow Root</p>
        </div>
        <div class="col row">
            <h5 class="lh-base">
                Marshmallow root is available as a dried herb or a bagged tea. Add hot water to either and then drink it immediately or allow it to cool first. The longer the marshmallow root steeps in the water, the more mucilage will be in the drink.
                Marshmallow root is available to purchase in health stores or online.
            </h5>
        </div> <br>
        <div class="col row">
            <p class="fs-4 fw-bold">6. Salt-Water Gargle</p>
        </div>
        <div class="col row">
            <h5 class="lh-base">
                This simple remedy is one of the most effective for treating a sore throat and wet cough. Salt water reduces phlegm and mucus in the back of the throat which can lessen the need to cough.
                Stir half a teaspoon of salt into a cup of warm water until it dissolves. Allow the solution to cool slightly before using it to gargle. Let the mixture sit at the back of the throat for a few moments before spitting it out. Gargle with salt water several times each day until the cough improves.
                Avoid giving salt water to younger children as they may not be able to gargle properly, and swallowing salt water can be dangerous.
            </h5>
        </div> <br>
        <div class="col row">
            <p class="fs-4 fw-bold">7. Dietary Changes for Acid Reflux</p>
        </div>
        <div class="col row">
            <h5 class="lh-base">
                Acid reflux is a common cause of a cough. Avoiding foods that can trigger acid reflux is one of the best ways to manage this condition and reduce the cough that accompanies it.
                The foods and beverages that most commonly trigger acid reflux includes alcohol, caffeine, chocolate, citrus foods, fried and fatty foods, spices and spicy foods, tomatoes and tomato-based products.
            </h5>
        </div> <br>
        <div class="col row">
            <p class="fs-4 fw-bold">8. Probiotics</p>
        </div>
        <div class="col row">
            <h5 class="lh-base">
                Probiotics do not directly relieve a cough, but they may boost the immune system by balancing the bacteria in the gut.
                A superior immune system can help to fight off infections or allergens that may be causing the cough.
                One type of probiotic, a bacteria called Lactobacillus, provides a modest benefit in preventing the common cold, according to research.
                Supplements containing Lactobacillus and other probiotics are available at health stores and drug stores.
                Some foods are also naturally rich in probiotics, including miso soup, natural yogurt, etc.
                However, the number and diversity of probiotic units in foods can vary greatly. It may be best to take probiotic supplements in addition to eating probiotic-rich foods.
            </h5>
        </div> <br>
    </div>

</body>
</html>